<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Events</title>
</head>
<body>
    <div class="buttons">
        <form action="/events/new/create_one">
            <div class="create-button">
                <button class="btn btn-primary" type="submit">Create a new event</button>
            </div>
    </form> 
    <form action="/signout">
        <div class="logout-button">
            <button class="btn btn-danger" type="submit">Logout</button>
        </div>
    </form>
</div>
    <div class="container-event">
        <div class="my-event-box">
        <h3>My Event Invites</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Address</th>
                </tr>
            </thead>
            </div>
            <tbody>
                {% for event in invited_events %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.date.strftime("%m/%d/%y")}}</td>
                        <td>{{event.time_start}}</td>
                        <td>{{event.address}}</td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/view/{{event.id}}">view</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>My Events</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for event in my_attending_events %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.date.strftime("%m/%d/%y")}}</td>
                        <td>{{event.time_start}}</td>
                        <td>{{event.address}}</td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/view/{{event.id}}">view</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>My Created Events</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for event in my_events %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.date.strftime("%m/%d/%y")}}</td>
                        <td>{{event.time_start}}</td>
                        <td>{{event.address}}</td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/view/{{event.id}}">view</a></td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/edit/{{event.id}}">edit</a></td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/delete/{{event.id}}">delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <h3>Public Events</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for event in public_events %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.date.strftime("%m/%d/%y")}}</td>
                        <td>{{event.time_start}}</td>
                        <td>{{event.address}}</td>
                        <td><a class="btn btn-secondary btn-sm active" role="button" href="/events/view/{{event.id}}">view</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>