<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Edit Event</title>
</head>
<body>
    <div class="edit-form">
        <h1>Edit</h1>
        <form method="post" action="/events/update/{{data.id}}">
            {% with messages = get_flashed_messages(with_categories=true) %}     
                {% if messages %}                            
                    {% for category, message in messages %}            
                    <p class="error text-center">{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label for="name">Name</label>
            <input class="form-control" value="{{data.name}}" type="text" name="name">

            <label for="date">Date</label>
            <input class="form-control" value={{data.date}} type="date" name="date">

            <label for="time_start">Start Time</label>
            <input class="form-control" value={{data.time_start}} type="time" name="time_start">

            <label for="time_end">End Time</label>
            <input class="form-control" value={{data.time_end}} type="time" name="time_end">

            <label for="address">Address</label>
            <input class="form-control" value="{{data.address}}" type="text" name="address">

            <label for="details">Description</label>
            <input class="form-control" value="{{data.details}}" type="text" name="details">

            <label for="options">Attire and Refreshments</label>
            <input class="form-control" value="{{data.options}}" type="text" name="options">

            <label for="guests">Maximum Number of Allowed Guests</label>
            <input class="form-control" value={{data.guests}} type="text" name="guests">
            
            <label for="public">Private (Type "0") or Public Event (Type "1")</label>
            <input class="form-control" value={{data.public}} type="text" name="public">
            
            <div class="create-cancel-edit">
                <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-danger" type="submit">Cancel</button>
            </div>
        </form>
    </div>

</body>
</html>