<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% for data in this_event %}
        <form method="post" action="/events/update/{{data.id}}">
            <label for="name">Name</label>
            <input class="form-control" value={{data.name}} type="text" name="name">

            <label for="date">Date</label>
            <input class="form-control" value={{data.date}} type="date" name="date">

            <label for="time_start">time_start</label>
            <input class="form-control" value={{data.time_start}} type="time" name="time_start">

            <label for="time_end">time_end</label>
            <input class="form-control" value={{data.time_end}} type="time" name="time_end">

            <label for="address">address</label>
            <input class="form-control" value={{data.address}} type="text" name="address">

            <label for="details">details</label>
            <input class="form-control" value={{data.details}} type="text" name="details">

            <label for="options">options</label>
            <input class="form-control" value={{data.options}} type="text" name="options">

            <label for="plus_one">plus_one</label>
            <input class="form-control" value={{data.plus_one}} type="text" name="plus_one">
            
            <button class="btn btn-primary">Submit</button>
        </form>
    {% endfor %}

</body>
</html>