<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <form action="/signout">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>
    <form action="/events/new/create_one">
        <button class="btn btn-danger" type="submit">Create a new event</button>
    </form>
    <!-- below is just a test to make sure data is showing from my controller, do as you please with the events! -->
    <div>
        <h3>Events</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>date</th>
                    <th>start time</th>
                    <th>end time</th>
                    <th>address</th>
                    <th>details</th>
                    <th>options</th>
                    <th>plus_one</th>
                </tr>
            </thead>
            <tbody>
    {% for data in one_event %}
                    <tr>
                        <td>{{data.name}}</td>
                        
                        <!-- This ishow you format the time -->
                        <td>{{data.time_start}}</td>
                        <td>{{data.time_end}}</td>

                        <td>{{data.address}}</td>
                        <td>{{data.details}}</td>
                        <td>{{data.options}}</td>
                        <td>{{data.plus_one}}</td>
                        <td><a href="/events/view/{{data.id}}">view</a></td>
                        <td><a href="/events/delete/{{data.id}}">delete</a></td>
                        <td><a href="/events/edit/{{data.id}}">edit</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <form action="/events/view/{{data.id}}/attend" method="post">
        <h2>Are you attending the event?</h2>
        <label for="first_name">First name</label>
        <input type="text" name="first_name">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name">
    </form>
    {% endfor %}

</body>
</html>