body {
    background-color:#8fc4b7;
    height: 160vh;
}

.sign-up {
    color:rgb(48, 176, 48);
}

.sign-in {
    color:rgb(226, 80, 80);

}

.bigbody {
    background-color: rgb(137, 201, 201);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:800px;
}

.create-form {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
}


.logout-button, .events-button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.create-button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cards {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.company-name {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.top-invite {
    padding-bottom: 50px;
    padding-top: 20px;
}

.edit-form {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding-bottom: 40px;
}

.create-edit-title {
    display: flex;
    justify-content: center;
}

.create-cancel-edit {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.container-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.view-form {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.view-block{
    text-align: center;
    border: solid;
    width: 50%;
}

.description {
    display: flex;
    border: solid;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table th{
    border-top: none;
}

.name-box {
    padding-bottom: 25px;
    padding-top: 25px; 
}

.attend-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    display:flex;
    justify-content: center;
}

.error {
    color: red;
    text-align: center;
}


